:root {
    --hitam: #979595;
    --kuning: rgb(198, 165, 33);
}

*,
html {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}
/* navbar */
.container {
    border: none;
    width: 100%;
    margin: 1rem;
}

body .navbar {
    background: rgba(196, 255, 101, 0.315);
    display: flex;
    position: fixed;
    align-items: center;
    box-sizing: border-box;
    min-height: 3rem;
    width: 98%;
    color: black;
    opacity: 1;
    border-radius: .5rem;
    padding: 0;
    justify-content: space-between;
}

.a-logo {
    font-size: 2.5rem;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
    font-weight: 700;
    padding: 0 2rem;
}

.a-logo span {
    color: var(--kuning);
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
}


.a-navbar {
    color: var(--hitam);
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem var(--kuning);
}

#menu {
    display: none;
}

/* posting */

.posting {
    display: flex;
    width: 100%;
    padding: 0;
    min-height: 35rem;
    padding: 4rem 1rem;
    /* margin-top: 4rem;
    margin-left: 1rem: */
}

.posting1 {
    border-radius: .5rem;
    width: 45%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: rgba(1, 1, 1, .05);
}

.posting1 .nama {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.img-home {
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
    border-radius: 5%;
    height: auto;
    justify-content: center;
}

.nama {
    display: flex;
    justify-content: center;
}
/* kolom2 */
.posting .kolom2 {
    border-radius: .5rem;
    margin-left: 1rem;
    padding: 0 1rem;
    background: rgba(1, 1, 1, .05);
    padding: 1rem 1rem;
    width: 50%;

}

.kolom2-1 {
    min-height: 35rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#tentang-saya {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

#a-tentang-saya {
    font-size: 2rem;
    padding: 2rem 0;
    text-align: center;
}

/* device */
/* device leptop */
@media (max-width: 945px) {
    html {
        font-size: 83%;
        transition: .3s ease-in-out;
        animation-delay: .5s;
    }
}

/* device tablet 750*/
@media (max-width: 800px) {
    html {
        font-size: 70%;
        transition: .3s ease-in-out;
        animation-delay: .5s;
    }

    #menu {
        display: inline-block;
        padding: 0 2rem;
    }

    .div-navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 15rem;
        height: 100vh;
        transition: .3s ease-in-out;
        animation-delay: .5s;
    }

    .div-navbar.active {
        right: 0;
        transition: .3s ease-in-out;
        animation-delay: .5s;
        background: rgba(138, 163, 222, 0.5);

    }

    .div-navbar a {
        display: block;
    }
}